[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
pandas = "*"
lxml = "*"
flask = "*"
flask-wtf = "*"
flask-bootstrap = "*"
requests = "*"
beautifulsoup4 = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
